@model IEnumerable<Presentation.Models.Message>

@{
    ViewBag.Title = "Index";
}

<div class="container" style="margin-top: 35px">
    <div class="page-header page-heading">
        <h1 class="pull-left">Forum</h1>
        <div class="clearfix"></div>
    </div>
    <table class="table forum table-striped">
        <thead>
            <tr>
                <th class="cell-stat"></th>
                <th>
                    <h3>Discussions about @ViewBag.CurrentArea</h3>
                </th>
                <th class="cell-stat text-center hidden-xs hidden-sm">Rating</th>
                <th class="cell-stat text-center hidden-xs hidden-sm">Posts</th>
                <th class="cell-stat-2x hidden-xs hidden-sm">Last Post</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var m in Model)
            {
                <tr>
                    <td class="text-center"><i class="fa fa-question fa-2x text-primary"></i></td>
                    <td>
                        <h4><a href="ViewThread?ThreadId=@m.Id">@m.Title</a></h4>
                    </td>
                    <td class="text-center hidden-xs hidden-sm">STARS</td>
                    <td class="text-center hidden-xs hidden-sm">@m.PostCount</td>
                    <td class="hidden-xs hidden-sm">by ID @m.UserId<br><small><i class="fa fa-clock-o"></i>@m.TimePosted.ToShortDateString()</small></td>
                </tr>
            }
        </tbody>
    </table>
    <a href="NewThread?AreaId=@ViewBag.CurrentAreaId" class="btn btn-primary pull-right" role="button">New thread</a>
</div>